/* Desktop responsive */
/* Toggle container */
#toggle-container{
    display: none;
}
/* End Toggle container */

/* Navbar */
#navbar {
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    max-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--c1);
    box-shadow: 0 3px 3px rgba(0,0,0,.25);
    box-sizing: border-box;
}
.nav-list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s all ease;
    color: var(--c4);
    font-weight: 500;
}
.nav-list:hover{
    background-color: var(--c4);
    color: var(--c1);
}
/* End navbar */

/* Jumbotron */
#jumbotron{
    width: 100%;
    position: relative;
}

#jumbotron > h3{
    color: var(--c1);
    position: absolute;
    left: 100px;
    top: 35%;
}

#promo{
    position: absolute;
    right: 30px;
    top: 150px;
    width: 300px;
    height: 300px;
    background: var(--c4);
    color: var(--c1);
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bg-hero{
    width: 100%;
    height: 100vh;
}

#phone{
    position: absolute;
    top: 150px;
    right: 25%;
    width: 15%;
    cursor: pointer;
    z-index: 2;
}
#phone:hover{
    transform:rotate(30deg) ;
    transition: .5s all ease;
}

#title-container{
    position: absolute;
    left: 100px;
    top: 35%;
    max-width: 500px;
}
#action-button{
    width: max-content;
    background-color: var(--c32);
    background-color: white;
    color: var(--c4);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: var(--shadow-white);
    cursor: pointer;
}
#action-button:hover{
    transform: scale(1.1);
}
/* End Jumbotron */

/* description */
#description{
    color: var(--c4);
}
.subdesc{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.title-desc{
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
/* End description */

/* Mechanisme */
#mechanismeImg{
    width: 100%;
}
/* End Mechanisme */

/* Custom */
.my-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}
.my-shadow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
/* End Desktop responsive */