/* Handphone responsive */
@media only screen and (max-width:398px) {
    #navbar{
        display: none;
    }

    #jumbotron{
        background: linear-gradient(var(--c32),var(--c3));
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #bg-hero{
        display: none;
    }
    
    #phone, #title-container, #action-button{
        position: static;
    }

    #phone{
        width: 200px;
    }

    #title-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    #title-container > h3{
        color: var(--c4);
        font-size: 2rem;
        text-align: center;
    }

    #action-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #action-button:hover{
        transform: scale(1.01);
    }

    #mechanismeImg {
        width: 70%;
    }

}
/* End Handphone responsive */